{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bs5test - {% block title %}{% endblock %}</title>

    <!--CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bs5test/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'bs5test/css/ceremony.css' %}">
    {% block css %}{% endblock %}

</head>
<body class="container-fluid">
    <div class="row">
        <nav class="col-12 col-md-2">
        <ul>
            <li>
                <a href="{% url 'bs5test:index' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'bs5test:about' %}">About</a>
            </li>
        </ul>
        </nav>

        <main
            class="container col-12 col-md-10"
            onclick="addClassTemp(this, 'main--clicked', 2000)"
        >
        {% block content %}
        {% endblock %}
        </main>

        <footer class="col col-12">
            <a href="#">Contact Me</a>
        </footer>
        <!--JS-->
        <script src="{% static 'bs5test/js/util.js' %}"></script>
        {% block js %}{% endblock %}
    </div>
</body>
</html>